/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/razorpay-php
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/Uploads/SelfAdvets/
public/Uploads/VehicleAdvets/
public/Uploads/LandAdvets/
public/Uploads/AgencyAdvets/
public/Uploads/BanquteMarrigeHall/
public/Uploads/Hostel/
public/Uploads/Lodge/
public/Uploads/Dharamshala/
public/Uploads/Pet/
public/Uploads/Marriage
public/Uploads/tolls
public/Uploads/shops
